<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>new page</h3>
    <form method="post" action="/listings">
       <input name="listing[title]" placeholder="enter the title" type="text">
       <br><br>
       <textarea name="listing[description]" placeholder="enter the description"></textarea>
       <br><br>
       <input name="listing[image]" placeholder="enter the image">
       <br><br>
       <input name="listing[price]" placeholder="enter the price" type="number">
       <br><br>
       <input name="listing[location]" placeholder="enter the location">
       <br><br>
       <input name="listing[country]" placeholder="enter the country">
       <br><br>
    <button>ADD</button>
    </form>
</body>
</html>